<div class="container">
    <div class="row">
        <div *ngIf="Employee" class="col-md-3 EmployeeProfile">
            <div class="text-center">
                <img style="width:85px; border-radius: 50%; border:2px solid; border-color: #2F3658"
                    src="/assets/images/avatar.png">

            </div>
            <div>
                <h2 class="darkBlue text-center" style="font-size: 15px">
                    <b>{{Employee.first_name}}&nbsp;{{Employee.last_name}}</b>
                </h2>
            </div>
            <div class="">
                <img style="border-radius:50%; width:40px;" src="/assets/images/Phone.png">
                <a href="javascript:void(0)">{{Employee.phone}}</a><br />

                <img style="border-radius:50%; width:40px;" src="/assets/images/Email.png">
                <a href="javascript:void(0)">{{Employee.email}}</a><br />

                <img style="border-radius:50%; width:40px;" src="/assets/images/HomeAddress.png">
                <a href="javascript:void(0)">{{Employee.location}}</a>
                <hr />
            </div>
            <div class="title">
                <h5 class="darkBlue">Title</h5>
                <p>{{Employee.title}}</p>
                <hr>
            </div>
            <div class="gender">
                <h5 class="darkBlue">Gender</h5>
                <p>{{Employee.gender}}</p>
                <hr>
            </div>

            <div class="department">
                <h5 class="darkBlue">Department</h5>
                <p>{{Employee.department}}</p>
                <hr>
            </div>

            <div class="email">
                <h5 class="darkBlue">Email</h5>
                <p>{{Employee.email}}</p>
                <hr>
            </div>

            <div class="location">
                <h5 class="darkBlue">Location</h5>
                <p>{{Employee.location}}</p>
                <hr>
            </div>
            <div class="row" style="margin-left:5px">
                <div>
                    <a [routerLink]='["/employeeDetail",previousEmployeeId]'>
                        <p> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous</p>
                    </a>
                </div>

                <div class="ml-auto" style="margin-right:20px">
                    <a [routerLink]='["/employeeDetail",nextEmployeeId]'>
                        <p>Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
                    </a>
                </div>
            </div>

        </div>
        <div *ngIf='ErrorOccured'>
            <img style="margin-top: 50px" class='rounded mx-auto d-block' src='../../assets/images/NotFound.jpg'
                alt='Page Not Found'>
            <h2 class='text-center' style="color:crimson; font-weight: bold">Error 404, Page not found</h2>

        </div>
        <div class="col-md-9">
            <div>
                <h3 class="text-center darkBlue">Floor Plan</h3>
            </div>
            <div class="" style="margin-bottom: 10px">
                <button class="btn btn-warning btn-sm darkBlue" [routerLink]="['/employees', 'Islamabad']" ><b>Back to
                            Employee list</b></button><br />
            </div>
            <div >
                <canvas id='myCanvas' style="border: 1px solid #d3d3d3"></canvas>
                <!-- <img class="img-fluid" src="/assets/images/floorplan.jpg"> -->
            </div>
        </div>
    </div>

</div>